<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Country & Capital</title>
</head>
<body>
  <h1>この国の首都は何？</h1>
  <h3>国名を入力してね！</h3>
    <form method="post" action="/new">
        <input type= "text" name="body"><input type= "submit" value="post">
    </form>
</body>
</html>
